@import url('jquery.tacalert.css');
@import url('Structure.css');



/*	

	* * * HARD STYLES * * *  


*EDIT THIS AFTER ALL OTHER STYLESHEETS 


*HAVE BEEN MODIFIED PROPERLY		***	



*/


body {
		font-family: Droid Sans, Lato, Istok Web, Cantora One, Arial, Tahoma, Verdana, sans-serif;
		background: rgba(0,0,0,0.3);	/*	BOOTSTRAP : rgba(173,216,230,0.3)	*/
		background-image: url('../Grid_bg.png');
		color: #000;
		font-size: 14pt/18pt;
	}
	
	#color{
		color: #FFFF00;
	}
	
/*		***	General Styling Classes for re-use throughout the Alert System		***	*/
		.shadowZ{
			text-shadow: #212121 0.1em 0.1em 0.2em;
		}	
	.shadow {
		-moz-box-shadow:    6px 5px 4px 3px #ccc;
		-webkit-box-shadow: 6px 5px 4px 3px #ccc;
		box-shadow:         6px 5px 4px 3px #ccc;
	 }
	 .Tshadow{
		color: #B0E0E6;
		font-weight: bold;
		text-shadow: #191970 0.1em 0.1em 0.2em;
	}
	.corners {
		-moz-border-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.round {
		-moz-border-radius: 8px;
		border-radius: 8px;
	}

		#talkbubble {
			   width: 150px;
			   height: 60px; 
			   background: #ffffcc;
			   color: #000000;
			   position: relative;
			   -moz-border-radius:    8px; 
			   -webkit-border-radius: 8px; 
			   border-radius:         8px;
			   border: 1px solid #ffffcc;
			   padding: 0.25em;
		}
			#talkbubble:before {
			   content:"";
			   position: absolute;
			   right: 100%;
			   top: 25px;
			   width: 0;
			   height: 0;
			   border-top: 13px solid transparent;
			   border-right: 26px solid #ffffcc;
			   border-bottom: 13px solid transparent;
			}

/*		***	Input bar highlight / Click event / onChange style and animation	***	*/

	input, textarea {
	  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
	  transition: border linear 0.2s, box-shadow linear 0.2s;
	  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	}
		input:focus, textarea:focus {
		  outline: 0;
		  border-color: rgba(82, 168, 236, 0.8);
		  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		}
	input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  outline: 1px dotted #666;
	}

	input[type="text"],
	input[type="password"],
	.ui-autocomplete-input,
	textarea,
	.uneditable-input {
	  display: inline-block;
	  padding: 4px;
	  font-size: 1em;
	  font-family: Cantora One, Istok Web, Arial;
	  line-height: 18px;
	  color: #808080;
	  border: 1px solid #ccc;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	}
					
/*		***		Login Bar Style and Layout Design 		***	*/

		#RegUser {
		position: absolute;
		top:1px;
		right:2px;
		padding:6px;
		background: rgba(255, 52, 180, 0.8); 
		color:#f5fffa;
		border-radius:4px;
		line-height:0.9em;
		}

#RegUser:hover { background: rgba(15, 150, 225, 0.6);  }		
	#RegUser a{ color:#eeeeee; } #RegUser a:hover{ color: #F5FFFA; }

#firstlinks{
display: inline-block;
position: fixed;
top: 0px;
left: 0px;
	font-family: Lato, Istok Web, Verdana;
	z-index: 97;
}
		#loginout{
			position: fixed;
			top: 0px;
			left: 0px;
			font-family: Source Sans Pro, Cabin Condensed, Arial, Tahoma, sans-serif;
			padding: 0px;
			display: inline;
			background: rgba(0,0,10,0.3);
			color: #fff;
			width: 100%;
			height: 50px;
			text-align:center;
			margin: none;
			z-index: 90;
			}
			
					#loginout a{
						color: #f5fffa;
						text-decoration: none;
						font-weight: bold;
					}
						#loginout a:hover{
							color: #ffffff;
							text-decoration: none;
						}
							#outlog{
										float: right;
										clear: left;
										font-size: 12px;
										padding: 0.25em;
										line-height: 1.5;
										background: rgba(210,20,20,0.5);
										border-radius: 4px;
										border: 1px solid transparent;
										font-family: Electrolize, Share, Ubuntu, Arial;
									}
									#outlog:hover{
											background: rgba(210,20,20,0.8);
											border: 1px solid #ffffff;
										}

								#in{
									display: inline-block;
									font-family: Lato, Droid Sans, Arial;
									background: rgba(0,180,30,0.3);
									padding: 0.5em;
									position: relative;
									vertical-align: bottom;
									line-height:1.75;
									text-align: center;
									border-radius: 4px;
									left: 16%;
								}
								#out{
									display:inline-block;
									position: relative;
									left: 15%;
									padding: 0.25em;
									vertical-align: bottom;
									font-size: 12px;
									line-height: 0.9;
								}
										#NotLogged{
											background: #BD0000;
											color: #ffffff;
											border-radius: 8px;
											padding:0.5em;
										}
									#RegUser{
										display: block;
										float: right;
										clear:none;
										padding: 0.5em;
										font-size: 12px;
									}
								
#LoggedIn	{
background: transparent url(../icons/user.png) no-repeat;
background-position: left;
padding-left:1.1em;
}
		
									
/*	***	LOGINOUT UL > LI STYLE  & DESIGN LAYOUT	***	*/

			#firstlinks ul{
				list-style: none;
				font-family: Droid Sans, Share, verdana, sans-serif;
				display: inline;
				z-index: 98;

			}
				#firstlinks ul li{
					list-style:none;
					cursor: pointer;
					display: inline-block;
					clear: none;
					vertical-align: top;
					border-radius: 4px;
					text-align: center;
					padding-right: 1em;
						transition: background .25s ease-in;
						-moz-transition: background .25s ease-in;
						-o-transition: background .25s ease-in;
						-webkit-transition: background .25s ease-in;	

				}			

						#open{
							background: rgba(150,200,25,0.5) url(../icons/vector/eye.png) no-repeat;
							background-position: center;
							color: #f5fffa;
						}
							#open:hover{
								background-color: rgba(150,200,25,0.8);
								color: #ffffff;
								}
					
						#links{
							background: rgba(0,100,180,0.5) url(../icons/vector/list%201.png) no-repeat;
							background-position: center;
							color: #f5fffa;
						}
							#links:hover{
								background-color: rgba(0, 100, 180, 0.8);
								color: #ffffff;
							}
							#tEdit {
							background: rgba(250,220,0,0.3) url(../icons/vector/search.png) no-repeat;
							background-position: center;
							color: #f5fffa;
							}
								#tEdit:hover{
									background-color: rgba(250,220,0,0.8);
									color: #ffffff;
								}
									#Stats{
										background: rgba(255,140,0,0.3) url(../icons/vector/calendar.png) no-repeat;
										background-position: center;
										color: #f5fffa;
									}
										#Stats:hover{
											background-color:rgba(255,140,0,0.8);
											color: #ffffff;
										}
									#Themes{	
										clear:none;
										float: right;
										background: rgba(200,10,18,0.3)  url(../icons/vector/picture.png) no-repeat;
										background-position: center;
										color: #f5fffa;

									}
										#Themes:hover{
											background-color: rgba(220, 10, 18, 0.8);
											color: #ffffff;
										}
										#Tweather{
										clear: none;
										float: right;
										background: rgba(95, 175, 250, 0.3) url(../icons/vector/cloud%20down.png) no-repeat;
										background-position: center;
										color: #f5fffa;
										}
											#Tweather:hover{
											background-color: rgba(95, 175, 250, 0.8);
											color: #ffffff;
											}
/*		***		GROWL SECTION		***	*/

#growl {position: absolute;bottom:150px;left:0;
width:350px;
z-index: 99;
color: #ffffff;
padding: 1em;
display:inline-block;
border-radius: 4px;
}
	.notice {
		position: relative;
	}
	
	.skin {
		position: absolute;
		background: rgba(0, 0, 0, 0.5); 
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		border-radius: 4px;
	}
	.content{
		display:block;
		padding: 15px;
		margin-left: 5px;
		font-weight: bold;
		background: rgba(0,0,0,0.5) url(../img/DogGot.gif) no-repeat;
		background-position: bottom right;
	}
	
	.Gclose {
		vertical-align: top;
		float:right;
		font-family: Arial Black, Impact, Arial sans-serif;
		font-size: 11pt;
		color: #FF0000;
		padding: 2px;
	}	
		
/*		***	Database Div and Below Layout	& Design stylings		***	*/
						#Database {
							margin-top: 2%;
							margin-left: 5%;
							z-index: 1;
							clear: both;
							padding: 2em;
							width: 85%;


						}
								#allgone{
									position: relative;
									clear: both;
									display: inline-block;
									margin-left: 25%;
									z-index: 1;
									text-align: center;
									font-family: Istok Web, Lato;
								}

									#all_clear {
										padding: 0.5em;
										border:1px solid #212121;
										font-family: Source Sans Pro, Courier, Times New Roman, sans-serif;
										background: rgba(250, 250, 210, 0.8);
										color:#212121;
										clear:both;
										float:left;
										border-radius: 4px;
									}
									#all_clear:before{
									content: url(../icons/calendar.gif);
									display: inline;
									padding: 0.5em;
									clear:none;
									}
									#table, #delTable {
										text-align: center;
									}
									#foo{
									margin-left: 55%;
									clear: both;
									padding: 2em;
									}		
		
/*	***	NewTicket drop-down structure and styling 	***	*/

#panel{
	background: transparent;
}
#panel a{
	color: #0073EA;
	padding:0.25em;
	transition: color .5s ease-in;
		-moz-transition: color .5s ease-in;
		-o-transition: color .5s ease-in;
		-webkit-transition: color .5s ease-in;	
	}
		#panel a:hover{
			color: #ffffff;
			text-decoration: underline;
		}
		#NewTicket{
				position: fixed;
				top: 50px;
				left: 0px;
				display: block;
				text-align: left;
				background: rgba(0,0,10, 0.3);
				padding: 1.5em;
				border: none;
				border-radius: 2px;
			}
				#linx{
					position: fixed;
					top: 50px;
					right: 0px;
				}
				#hotlinks{
					background: rgba(0,0,10,0.3);
					color: #ffffff;
					padding: 0.25em;
					vertical-align: top;
					float: right;
					clear: both;
					display: block;
					border-radius: 4px;
					z-index: 99;
					}		
					#linkBlock{
					width: 85%;
					display: block;
					}
							#hotlinks a { color: #0073EA; }									
							#hotlinks a:hover { color: #FFFFFF; text-shadow: #555555 0.1em 0.1em 0.2em; }									
							#rotor a:hover{background:transparent;color:transparent;border:none;}
							
							#rotor{
								clear: both;
								padding:2px;
								vertical-align: top;
								text-align: center;
							}	
					#eTicket{
						position: fixed;
						top: 50px;
						left: 0px;
						display: inline-block;
						width: 100%;
						text-align: left;
						background: rgba(100,180,50, 0.3);
						padding: 0.25em;
						border: none;
					}
					#tStat{
						position: fixed;
						top: 50px;
						left: 0px;
						width: 100%;
						display: inline-block;
						background: rgba(255,140,0,0.25);
						padding: 0.25em;
						border: none;
					}
					#Style{
						position: fixed;
						top: 50px;
						left: 0px;
						width: 100%;
						display: inline-block;
						background: rgba(200,10,18, 0.3);
						padding: 0.25em;
						border: none;
						vertical-align:bottom;
						clear:both;
						}
					#email{
						float: right;
						clear: none;
						background: transparent;
						cursor: pointer;
						padding: 0px;
						margin: 0px;
						border-radius: 15px;
					}
					#forma {
						padding:5px;
						text-align: left;
						background:transparent;		/* #add8e6; */
						border: none;
						overflow: hidden;
					}
			#aTechs{
					vertical-align: bottom;
					padding: 0.05em;
					display: block;
				}
			.emails { 
				word-spacing:2px;
				letter-spacing:1px;
				background: transparent;
				border: none;
				font: 14px "Segoe UI";
				color: #000000;
				overflow:hidden;
			} 

/*		***	Ticket Editing Styling and Design Layout		***	*/
		
#eTicket input {
padding:5px;
border-radius: 4px;
}
	#TicketTable {
		background: transparent;
		color: #ffffff;
	}
		#content{
		background: transparent;
		}
	#table {
		text-align: center;
		vertical-align: top;
		color: #000000;
	}

	#table td{
		padding: 5px;
	}
	#divtop {
	display: inline;
	text-align: center;
	vertical-align: top;
	}
	#divbottom {
	text-align: left;
	vertical-align: top;
	display: block;
	padding: 5px;
	background: transparent;
	}
	
	.outline {
	border: 1px solid #444444;
	}
	
	#status {
		display: none;
	 padding:10px;
	 margin: 5px auto;
	 border-radius: 4px;
	 clear:both;
	 }
		.success{
		background: #006400;
		color: #EEFFCC;
		border:1px solid #32cd32;
		}
		.error{
		background: #FFCCCC;
		color: #BD0000;
		border: 1px solid #FF0000;
		}
		
	 #noticket {
	 background: transparent;
	 color: #eeeeee;
	 text-shadow: #444444 0.15em 0.15em 0.25em;
	 font-size: 1.25em;
	 line-height: 1.5;
	 }
	 
	 #save {
	 margin: 5px auto;
	 }
	 
	 #pgTitle{
	 display:block;
	 font-family: Arial Black, Arial, Sans-serif;
	 font-size: 16px;
	 background: rgba(0,0,0,0.3);
	 color: #f5fffa;
	 text-align: center;
	 padding: 2px;
	 }
		#pgTitle sub{
		font-family: Courier New, Arial, sans-serif;
		font-size: 11px;
		color: #ffffff;
		line-height: 0.5;
		}
			#PutInQ{
			display:none;
			padding:10px;
			margin: 5px auto;
			border-radius: 4px;
			float:right;
			}
				#Putback{
					background: #0073ea;
					text-shadow: #000000 0.1em 0.1em 0.25em;
					color: #ffffff;
					border-radius: 4px;
					border: 1px solid #0000FF;
					}
					#Putback:hover{
						background: #006400;
						color: #EEFFCC;
						border: 1px solid #32cd32;
						}
						
/*	***	Ticket Search Display and Styling	***	*/

.removed {
background:#EFC2C2;
padding:5px;
display:block;
cursor:pointer;
}

.added{
background:#D8E6AD;
padding:5px;
display:block;
cursor:pointer;
} 						

/*		***	Database Ticket Listing Display Classes and Stylings		***	*/
	.tblOclr {
	background:  rgba(16,78,139,0.6);
	color: #ffffff; /* #0064CD */
	padding: 3px;
	}
	.tblEclr {
	background:  rgba(10, 10, 10, 0.5);
	color: #A4D3EE;
	padding:3px;
	}
	.tblFclr {
	background:  rgba(164,211,238,0.2);
	color: #0073EA;	/*	#0073EA	*/
	font-size: 15pt;
	text-shadow: #888888 0.1em 0.1em 0.15em;
	padding:3px;
	}
	.tblbrdr{
	border-right: 1px solid rgba(250,250,250,0.25);
	border-bottom: 1px solid rgba(250,250,250,0.25);
	padding: 5px;
	}

.database{
visibility: hidden;
padding: 0px;
margin: 0px;
}

#tacWeather{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 400px;
	height: 120px;
	z-index: 98;
	cursor: pointer;
	display: none;
}	

#Container{
	display: inline-block;
	background: rgba(200,200,200,0.15);
	color: #f5fffa;
	border: none;
	vertical-align: top;
	border-radius: 15px;
	padding: 0.05em;
	}
	
	#Weather{
		display: block;
		font-family: arial,verdana, sans-serif;
		font-size: 11px;
		background: rgba(75,105,150, 0.5);
		color: #ffffff;
		border-radius: 4px;
		padding: 0.25em;
		text-shadow: #888888 0.1em 0.1em 0.25em;
		text-align: left;
		vertical-align: bottom;
		}
			#wIcon{
			float: left;
			padding: 0.5em;
			border-radius: 8px;
			}
				#time{
					font-family: arial, sans-serif;
					font-size: 10px;
					line-height: 1.5;
					text-align: right;
					float: right;
					clear: both;
					padding: 0.05em;
					color: #ffffff;
					vertical-align: top;
					}
	#temp, #humid, #realfeel{
		color: #eeff00;
		font-weight: bold;
		}

		
a:link {color:#FF0084;
	transition: color .5s ease-in;
		-moz-transition: color .5s ease-in;
		-o-transition: color .5s ease-in;
		-webkit-transition: color .5s ease-in;	

	text-decoration:underline; }

a:visited {color:#f5fffa;
	text-decoration:none; }

a:hover, :not #deletelink a:hover {color:#0073ea; 
	text-decoration:none;}

a:active {color:#0073ea; 
	text-decoration:underline; } 
	
	#tad a:hover {
	color: #ffffff;
	background: #212121;
	text-decoration: none;
	text-shadow: #555555 0.1em 0.1em 0.2em;
	}
	
	#chkbx{
	background: rgba(200,200,200,0.25);
	padding:0.2em;
	clear:none;
	border-radius: 4px;
	}

	.delete{
	cursor: pointer;
	}
	
/*	**********
		Keyframe animation to move grid background.
		***********/
		
	
	
/*Keyframes*/	
@keyframes grid {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}	
100% {background-position: 95px 95px, 95px 95px, 95px 95px;}

}

@-webkit-keyframes grid {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}	
100% {background-position: 0px 95px, 0px 95px, 0px 95px;}

}

@-moz-keyframes grid {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}	
100% {background-position: 0px -95px, 0px -95px, 0px -95px;}

}

body {
   -webkit-animation: grid 8s linear infinite; 
    -moz-animation: grid 8s linear infinite;
    animation: grid 8s linear infinite; 
}

.talk, .ui-dialog-content, .ui-widget-content {
background: transparent;
background-color: #eeeeee;
color: #000000;
}


#epple{
height: 0px;
width: 0px !important;
padding: 0px !important;
margin: 0px;
}	


#search {
    width: 325px;
    margin: 0px;
	vertical-align: top;
	
}
#search_text{
    width: 150px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 50px;
    margin-right: 0;
    color: white;
    outline: none;
    background: rgba(0, 115, 234, 0.8);
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgba(0, 130, 245, 1);
}
#search_button {
    border: 0 none;
    background: rgba(0, 115, 234, 1) url(../search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 50px;
    cursor: pointer;
}